<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Introducir objetos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Introducir objetos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" routerLink="/anyadirarticulos">Añadir articulos</ion-button>
  <ion-button expand="block" routerLink="/listaarticulos">Lista de articulos</ion-button>
</ion-content>