<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Introducir objetos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Introducir objetos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Nombre del producto: </ion-label>
      <ion-input [(ngModel)]="producto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripcion: </ion-label>
      <ion-input [(ngModel)]="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Precio: </ion-label>
      <ion-input type="number" [(ngModel)]="precio"></ion-input>
    </ion-item>
    <ion-list>
      <ion-list-header>
        <ion-label>Categoria: </ion-label>
      </ion-list-header>

      <ion-button expand="block" (click)="MostrarTecno()">Tecnologia</ion-button>

      <ion-button expand="block">Hogar</ion-button>

      <ion-button expand="block" (click)="MostrarHogar()">Inmobiliaria</ion-button>

      <ion-button expand="block" (click)="MostrarMotor()">Motor</ion-button>
    </ion-list>

    <div id="tecnologia" *ngIf="tecOculto == false">
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Estado: </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Perfecto</ion-label>
            <ion-radio slot="start" value="perfecto"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Usado</ion-label>
            <ion-radio slot="start" value="usado"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>

    <div id="inmobiliaria" *ngIf="inmOculto==false">
      <ion-list>
        <ion-input placeholder="Metros cuadrados:" type="number"></ion-input>
        <ion-input placeholder="Numero de baños:" type="number"></ion-input>
        <ion-input placeholder="Numero de habitaciones:" type="number"></ion-input>
        <ion-input placeholder="Localidad:"></ion-input>
      </ion-list>
    </div>

    <div id="motor" *ngIf="motOculto==false">
      <ion-radio-group>
        <ion-item>
          <ion-label>Coche</ion-label>
          <ion-radio slot="start" value="coche"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Moto</ion-label>
          <ion-radio slot="start" value="moto"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-input placeholder="Km: " type="number"></ion-input>
        <ion-input placeholder="Año: " type="number"></ion-input>
      </ion-item>
    </div>

    <div *ngFor="let item of productos" id="list">
      <br>
      <ion-label>NOMBRE: {{item.nombre}} </ion-label>
      <br>
      <ion-label>DESCRIPCION: {{item.descripcion}} </ion-label>
      <br>
      <ion-label>PRECIO: {{item.precio}} €</ion-label>
      <br>
    </div>

  </div>
</ion-content>